In [61]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_olivetti_faces
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import classification_report

In [13]:
data = {
    'x': np.arange(1,21),
    'y': np.array([0,0,0,0,0,0,1,0,1,1,0,0,1,0,1,1,1,1,1,1])
}
df = pd.DataFrame(data)
# df

In [12]:
model = LogisticRegression(solver='lbfgs')
model.fit(df[['x']], df['y'])

y = df['y'].tolist()
yp = model.predict(df[['x']]).tolist()

print(y)
print(yp)

[0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [14]:
data = {
    'x': np.arange(1,21),
    'y': np.array([
        'Sarah','Sarah', 'Sarah', 'Sarah', 'Sarah', 
        'Sarah','Zaenab', 'Sarah', 'Zaenab', 'Zaenab', 
        'Sarah','Sarah', 'Zaenab', 'Sarah', 'Zaenab', 
        'Zaenab','Zaenab', 'Zaenab', 'Zaenab', 'Zaenab'
    ])
}
df = pd.DataFrame(data)
df

     x       y
0    1   Sarah
1    2   Sarah
2    3   Sarah
3    4   Sarah
4    5   Sarah
5    6   Sarah
6    7  Zaenab
7    8   Sarah
8    9  Zaenab
9   10  Zaenab
10  11   Sarah
11  12   Sarah
12  13  Zaenab
13  14   Sarah
14  15  Zaenab
15  16  Zaenab
16  17  Zaenab
17  18  Zaenab
18  19  Zaenab
19  20  Zaenab

In [15]:
model = LogisticRegression(solver='lbfgs')
model.fit(df[['x']], df['y'])

y = df['y'].tolist()
yp = model.predict(df[['x']]).tolist()

print(y)
print(yp)

['Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Zaenab', 'Sarah', 'Zaenab', 'Zaenab', 'Sarah', 'Sarah', 'Zaenab', 'Sarah', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab']
['Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Sarah', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab', 'Zaenab']

In [16]:
df['yp'] = yp
df

     x       y      yp
0    1   Sarah   Sarah
1    2   Sarah   Sarah
2    3   Sarah   Sarah
3    4   Sarah   Sarah
4    5   Sarah   Sarah
5    6   Sarah   Sarah
6    7  Zaenab   Sarah
7    8   Sarah   Sarah
8    9  Zaenab   Sarah
9   10  Zaenab   Sarah
10  11   Sarah  Zaenab
11  12   Sarah  Zaenab
12  13  Zaenab  Zaenab
13  14   Sarah  Zaenab
14  15  Zaenab  Zaenab
15  16  Zaenab  Zaenab
16  17  Zaenab  Zaenab
17  18  Zaenab  Zaenab
18  19  Zaenab  Zaenab
19  20  Zaenab  Zaenab

#BIKIN CONFUSING MATRIX 
#Sarah = 0
#Zaenab = 1

- | prediksi Sarah | prediksi Zaenab 
- | - | -
__aktual Sarah__  | TN | FP
__aktual Zaenab__ | FN | TP

In [23]:
#MENCARI TP, TN, FP, FN

tp = len(df[df['y']=='Zaenab'][df['yp']=='Zaenab'].index)
tn = len(df[df['y']=='Sarah'][df['yp']=='Sarah'].index)
fp = len(df[df['y']=='Sarah'][df['yp']=='Zaenab'].index)
fn = len(df[df['y']=='Zaenab'][df['yp']=='Sarah'].index)

#atau pake.count()

print(tp)
print(tn)
print(fp)
print(fn)

7
7
3
3

<ipython-input-23-c2156027ba48>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tp = len(df[df['y']=='Zaenab'][df['yp']=='Zaenab'].index)
<ipython-input-23-c2156027ba48>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tn = len(df[df['y']=='Sarah'][df['yp']=='Sarah'].index)
<ipython-input-23-c2156027ba48>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fp = len(df[df['y']=='Sarah'][df['yp']=='Zaenab'].index)
<ipython-input-23-c2156027ba48>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fn = len(df[df['y']=='Zaenab'][df['yp']=='Sarah'].index)

In [31]:
print('Akurasi=', (tp+tn)/ (tp+tn+fp+fn))
print('Error Rate=', (fp+fn)/ (tp+tn+fp+fn))

print('Recall(+)=', tp/(tp+fn))
print('FP Rate=', fp/ (fp+tn))
print('Recall(-)= ', tn/(fp+tn))
print('FN Rate= ', fn/ (tp+fn))

print('Precision(+)= ', tp/ (tp+fp))
print('Precision(-)= ', tn/ (tn+fn))

prc = tp/(tp+fp)
rcl = tp/(tp+fn)
print('F1 Score= ', 2* ((prc*rcl)/(prc+rcl)))

Akurasi= 0.7
Error Rate= 0.3
Recall(+)= 0.7
FP Rate= 0.3
Recall(-)=  0.7
FN Rate=  0.3
Precision(+)=  0.7
Precision(-)=  0.7
F1 Score=  0.7

In [32]:
TP, FN, FP, TN = confusion_matrix(df['y'], df['yp']).ravel()
TP, FN, FP, TN

(7, 3, 3, 7)

- AKURASI MODEL SKLEARN

In [39]:

# 1.
print('model_score= ', model.score(df[['x']], df['y']))

#2. 
print('accuracy_score= ', accuracy_score(df['y'], df['yp']))

#3. 
print('error_rate= ', 1 - accuracy_score(df['y'], df['yp']))

model_score=  0.7
accuracy_score=  0.7
error_rate=  0.30000000000000004

- RECALL

In [41]:
# 1. 
print(
    'Recall(+)=',  
    recall_score(df['y'], df['yp'], pos_label='Zaenab')
)

# 2.
print(
    'Recall(-)=', 
    recall_score(df['y'], df['yp'], pos_label='Sarah')
)

Recall(+)= 0.7
Recall(-)= 0.7

- PRECISION

In [45]:
#1.

print(
    'Precision(+)=', 
    precision_score(df['y'], df['yp'], pos_label='Zaenab')
)

#2.

print(
    'Precision(-)=', 
    precision_score(df['y'], df['yp'], pos_label='Sarah')
)

Precision(+)= 0.7
Precision(-)= 0.7

- BALANCED ACCURACY

In [49]:
#cara manual:

rclP = TP / (TP+FN)
rclN = TN / (FP+TN)
bAcc = (rclP + rclN) / 2 
print('bAcc = ', bAcc)

#cara sklearn
print('bAcc= ', balanced_accuracy_score(df['y'], df['yp']))

bAcc =  0.7
bAcc=  0.7

- F1 SCORE

In [53]:
#1.

print('F1 Score(+)= ', f1_score(df['y'], df['yp'], pos_label='Zaenab'))

#2. 

print('F1 Score(-)= ', f1_score(df['y'], df['yp'], pos_label='Sarah'))

F1 Score(+)=  0.7
F1 Score(-)=  0.7

- precision_recall_fscore_support function

In [60]:
precision_recall_fscore_support(df['y'], df['yp'])

#support = ada berapa sarah dan zaenab di y prediksi? 10:10

(array([0.7, 0.7]), array([0.7, 0.7]), array([0.7, 0.7]), array([10, 10]))

- PRECISION REPORT

In [62]:
print(classification_report(df['y'], df['yp']))

              precision    recall  f1-score   support

       Sarah       0.70      0.70      0.70        10
      Zaenab       0.70      0.70      0.70        10

    accuracy                           0.70        20
   macro avg       0.70      0.70      0.70        20
weighted avg       0.70      0.70      0.70        20

In [63]:
print()

In [65]:
#Precision

precSa = TN / (TN/FN)
precZa = TP / (TP + FP)

precSa, precZa

precMacro = (precSa + precZa)/2
precWeighted = ((precSa * 1)+(precZa * 1)) / (1+1) #jumlah population
precMacro, precWeighted

precMicro =

(1.85, 1.85)

In [66]:
y = ['kucing', 'anjing', 'gajah', 'kucing', 'anjing', 'gajah']
yp = ['kucing', 'kucing', 'gajah', 'kucing', 'kucing', 'gajah']
#confusion matriks